body{
    background: black;
    
}

#container-header{
    display: flex;
    position: absolute;
    height: 19vh;
    width: 59vw;
    flex-direction: row-reverse;
    align-items: flex-end;

}

h2{
    color: white;
    font-size: 38px;
    letter-spacing: 3px;
    
}
#image-header{
    height: 110px;

}

#container{
    position:relative;
    display: flex;
    height: 100vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#sub-title{
    display: flex;
    width: 220px;
    position: absolute;
    height: 32vh;
    width: 61vw;
    align-items: flex-end;
    flex-direction: column-reverse;

}

.box-image{
    height: 200px;  
    width: 210px;
    background-repeat: no-repeat;
    background-size: cover;
}

.one {
    background-image: url(./img/pink.png);
}
.two{
    background-image: url(./img/panda.png);
}
.three{
    background-image: url(./img/robot.png);
}

.four{
    background-color: #343a40; 
    background-image: url(./img/plus.png);
    height: 200px;
    width: 210px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;  
    
}
#button-confirm{
    height: 40px;
    width: 200px;
    border-radius: 7px;
    background-color: black;
    color: white;
    border: 1px solid white;
    z-index: 1;
}
#form-button{
    display: flex;
    position: absolute;
    height: 75vh;
    width: 55vw;
    flex-direction: row-reverse;
    align-items: flex-end;
}
#button-confirm:hover{
    background-color: white;
    color: black;
    transition: 0,3s;
}
div:hover{
    border: 1px solid white;
    transition: 0.2s;
}
.four:hover{
    opacity: 1;
}